URL = 
CHECK_AFTER = 30
RESEND_MAIL_AFTER = 300
LOGFILE_NAME = webmonitor.log
#USER_SMTP_HOST = DEFAULT IS GOOGLE'S
#USER_SMTP_PORT = DEFAULT IS GOOGLE'S
EMAIL_SENDER = 
EMAIL_SENDER_PASSWORD = 
#REMOTE_SERVER
#MAIL_TO = #DEFAULT IS EMAIL_SENDER
#SKIP_SSL = #DEFAULT IS FALSE